

.ajax-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1100;
	display: none;
	-webkit-transition: display .8s;
	   -moz-transition: display .8s;
	    -ms-transition: display .8s;
	     -o-transition: display .8s;
	        transition: display .8s;
}
.ajax-loader.on {
	display: block;
}