section.category--box{
	margin-top: -35px;
	position: relative;
}

section.category--box .category--inner {
	margin: 0 65px;
	padding: 18px 12px;
	width: auto;
	height: 100%;
}

section.category--box .category--box-content {
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	        justify-content: center;
}

section.category--box .category--box-items {
	width: 32%;
	height: auto;
	margin-right: 15px;
	margin-bottom: 15px;
	position: relative;
	z-index: 5;
	overflow: hidden;
	background: #fff;
	color: #000;
	display: flex;
	font-family: var(--font-family-sans-serif);
	-webkit-align-items: center;
	        align-items: center;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	transition: .5s;
}

section.category--box .category--box-items:hover {
	transform: translateY(-5px);
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

/*section.category--box .category--box-items:nth-child(6n + 1)::before {
	background: var(--danger);
}

section.category--box .category--box-items:nth-child(6n + 2)::before {
	background: var(--orange);
}

section.category--box .category--box-items:nth-child(6n + 3)::before {
	background:  var(--yellow);
}

section.category--box .category--box-items:nth-child(6n + 4)::before {
	background: var(--green);
}

section.category--box .category--box-items:nth-child(6n + 5)::before {
	background: var(--blue);
}

section.category--box .category--box-items:nth-child(6n + 6)::before {
	background:  var(--info);
}*/

/* section.category--box .category--box-items::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: polygon(50% 50%, 0 0, 100% 0);
	z-index: -1;
}

section.category--box .category--box-items .overlay {
	width: 100%;
	z-index: 80;
	text-align: center;
} */

/* section.category--box .category--box-items .boxes-icon {
	width: 20%;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid #f1f1f1;
	-webkit-box-shadow: 1px 2px 4px rgba(211,211,211,.8);
	        box-shadow: 1px 2px 4px rgba(211,211,211,.8);
	background: #FFF;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
} */

/* section.category--box .category--box-items .boxes-icon img {
	width: 100%;
}
 */
/* section.category--box .category--box-items .title {
	font-size: 18px;
	font-weight: 700;
} */
.page--title-header {
	position: relative;
	/* top: 83px; */
	/* left: 0; */
	background: var(--primary);
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	padding: .5rem 1rem;
	text-align: center;
	z-index: 90;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

.page--title-header::after {
	content: '';
	width: 80px;
	height: 1px;
	background: #FFF;
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	right: 15%;
	transform: translateY(-50%);
	transform: translateX(40%);
}

.page--title-header::before {
	content: '';
	width: 80px;
	height: 1px;
	background: #FFF;
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translateY(-50%);
	transform: translateX(-40%);
}

@media only screen and (max-width: 539px){
	section.category--box {
		padding-top: 0;
		margin-bottom: 10px;
		margin-top: -8px;
	}

	section.category--box .category--inner {
		margin: 0 20px;
		padding: 0;
		height: 100%;
		padding-top: 15px;
	}
	section.category--box .category--box-content {
		display: flex;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		        justify-content: center;
	}
	section.category--box .category--box-items:nth-child(2n +2) {
		margin-right: 0;
	}
	section.category--box .category--box-items {
		width: 46%;
		/* max-height: 85px; */
		margin-right: 15px;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	}
	section.category--box .category--box-items .boxes-icon {
		width: 30%;
		overflow: hidden;
		margin: 0 auto;
		margin-bottom: 20px;
		padding: 15px;
		border: 1px solid #F1F1F1;
		-webkit-box-shadow: 1px 2px 4px rgba(211,211,211,.8);
		        box-shadow: 1px 2px 4px rgba(211,211,211,.8);
		background: #FFF;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
	}
	.page--title-header {
		position: relative !important;
		top: 0 !important;
		box-shadow: none !important;
	}
}

