
section.auth {
	padding: 1rem 0;
	min-height: 95vh;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}

section.auth .box {
	width: 430px;
	min-height: 300px;
	/* padding-top: 5%; */
	/* border-radius: 8px; */
	background: #FFF;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	padding: .5rem 1rem;
	border-top: 5px solid #ee4d2d;
}

section.auth .box a.logo {
	width: 100%;
}

section.auth .box a.logo img {
	display: block;
	/* width: 200px; */
	margin: 23px auto;
}

section.auth .box h6 {
	font-size: 18px;
	margin-bottom: 15px;
	text-align: center;
}

@media screen and (max-width: 539px){
	section.auth .box {
    	width: 100% !important;
    }
} 