
section.my-shop .my-shop-inner {
	margin: 0 65px;
	padding: 0 12px;
	width: auto;
	height: 100%;
}

section.my-shop .my-shop-inner .my-shop-content {
	width: 100%;
	height: auto;
	display: flex;
	margin-top: 20px;
}

section.my-shop .my-shop-inner .my-shop-content .column:first-child {
	width: 60%;
	text-align: center;
	padding: 100px 0 0 0;
}

section.my-shop .my-shop-inner .my-shop-content .column:first-child img {
	width: 450px;
}

section.my-shop .my-shop-inner .my-shop-content .column:last-child {
	width: 30%;
	margin-right: 5%;
}


section.my-shop .my-shop-inner .my-shop-content .column:last-child .icon.success i::before {
	content: '\f058';
	color: var(--success);
}

section.my-shop .my-shop-inner .my-shop-content .column:last-child .icon.failed i::before {
	content: '\f057';
	color: var(--danger);
}

section.my-shop .my-shop-inner .my-shop-content .column:last-child .new-render {

}

section.my-shop .my-shop-inner .my-shop-content .column:last-child .done-render {

}


section.my-shop .my-shop-inner .my-shop-content .column:last-child .logo-success {
	width: 80px;
}