
.quantity-input {
	display: inline-flex;
}

.quantity-input * {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.quantity-input input {
	border: none;
	border-bottom: 1px solid #B5BBC5;
	padding: 0 10px;
	padding-top: 0;
	padding-bottom: 8px;
	outline: none;
	text-align: center;
	font-size: 18px;
	min-width: 48px;
}

.quantity-input .qty-btn {
	-webkit-appearance: none;
	padding: 0;
	width: 30px;
	cursor: pointer;
}

.quantity-input .qty-btn.qty-min {
	background: url(../img/qty/icon-min-active.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 25px;
	     -o-background-size: 25px;
	        background-size: 25px;
}

.quantity-input .qty-btn.qty-plus {
	background: url(../img/qty/icon-plus-active.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 25px;
	     -o-background-size: 25px;
	        background-size: 25px;
}


.quantity-input .qty-btn.qty-min.disabled {
	background: url(../img/qty/icon-min-inactive.png);
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
	-webkit-background-size: 25px;
	     -o-background-size: 25px;
	        background-size: 25px;
}

.quantity-input .qty-btn.qty-plus.disabled {
	background: url(../img/qty/icon-plus-inactive.png);
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
	-webkit-background-size: 25px;
	     -o-background-size: 25px;
	        background-size: 25px;
}