.shop-product--reviews .reviews--item {
	width: 100%;
	min-height: 180px;
	display: flex;	
	background: #FFF;
	border: 1px solid #f1f1f1;
	position: relative;
	-webkit-border-radius: 8px;
	        border-radius: 8px;
}

.shop-product--reviews .reviews--item .reviews--product-detail {
	width: 18%;
	text-align: center;
	border-right: 1px solid #f1f1f1;
}

.shop-product--reviews .reviews--item .reviews--product-detail .reviews--product-image {
	width: 100px;
	height: 100px;
	padding: 5px;
	border: 1px solid #f1f1f1;
	overflow: hidden;
	margin-bottom: 10px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	margin: 0 auto;
}